// color utilities
.primary {
  color: $primary;
}

.secondary {
  color: $secondary;
}

.success {
  color: $success;
}

.warn {
  color: $warn;
}

.white {
  color: $white;
}

.gray-100 {
  color: $gray-100;
}

.primaryBkg {
  background: $color;
}

.secondaryBkg {
  background: $secondary;
}

.bodyBkg {
  background: $bodyColor;
}